body {
    color:#2f1e1e;
    background:#004561;
    margin: 2px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 60px;

}

header {
    border-bottom: solid 2px #005fed;
    padding: 18px;
    font-size: 30px;
    color: #8f9bf9;
}

.chamada {
    background: cadetblue;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1{
font-size: 25px;
}

p{
    font-size: 15px;
}

img{
    height: 200px;
}

.categoria-videos {
    display:flex; 
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 25px;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid cyan;
}

.categoria h2 {
    color: #8f9bf9;
}